.home-banner {
  margin: 0;
  padding: 0;
  pre {
    margin: 0;
  }
  code {
    padding: 0 !important;
    background-color: var(--bg) !important;
    font-size: 1.15rem;
  }
}
.posts-list {
  margin-top: 3.5rem;
}

@media (max-width: 600px) {
  .home-banner {
    code {
      font-size: 0.95rem;
    }
  }
}
