@use 'sass:meta';

.hban {
  margin: 0;
  padding: 0;
  pre {
    margin: 0;
  }
  code {
    padding: 0 !important;
    background-color: var(--bg) !important;
    font-size: 1.15rem;
    overflow: hidden;
  }
}
.posts-list {
  margin-top: 3.5rem;
}

@media (max-width: 600px) {
  .hban {
    code {
      font-size: 0.95rem;
    }
  }
}

html[data-theme='light'] .hban {
  @include meta.load-css('node_modules/highlight.js/styles/github.css');
}
html[data-theme='dark'] .hban {
  @include meta.load-css(
    'node_modules/highlight.js/styles/tokyo-night-dark.css'
  );
}
