.container {
  margin: auto;
  max-width: 45rem;
  padding: 0 1rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  .sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    a.home-link {
      text-decoration: none;
    }
    a.home-link:hover {
      text-decoration: none;
    }
    .sidebar-links {
      margin-left: 2rem;
      justify-content: center;
      display: flex;
      align-items: center;
      a {
        margin-left: 1rem;
      }
      a:first-child {
        margin-left: 0;
      }
    }
  }
}
