@use 'sass:meta';

.post {
  margin-top: 1.2rem;
  h1 {
    margin: 0;
    margin-bottom: 0.3rem;
  }
  @include meta.load-css(
    'node_modules/highlight.js/styles/tokyo-night-dark.css'
  );
  .post-date {
    font-size: 75%;
    margin-bottom: 2rem;
  }
}
