.post-list-item {
  h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 0.3rem;
  }
  .post-list-item-date {
    font-size: 75%;
    margin-bottom: 0.4rem;
  }
  margin-bottom: 2rem;
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  p {
    margin: 0;
    padding: 0;
  }
}
